.closeModal {
    width: 4vw;
    height: auto;
    margin: 0 0 0 95%;
}

#modalStatsBlock div:not(:last-of-type) {
    text-align: center;
    border-bottom: 2px solid black;
    padding: 1.5vh 0;
}

#modalStatsBlock div:last-of-type {
    text-align: center;
    padding: 1.5vh 0;
}

#modalStatsBlock {
    border: 3px solid black;
    margin-top: 2vh;
}

#modalStatsBlock:not(:first-of-type) {
    text-align: center;
}

.modalContent {
    max-width: 80vw;
    margin: 0 auto 0 auto;
}

#colorInfoBlock {
    display: flex;
    justify-content: space-around;
}

.colorInfo {
    width: 33%;
}

#modalFishImgContainer {
    width: 13%;
    justify-content: center;
}

.colorInfo div {
    border: 3px solid black;
    padding: 1.5vh 0;
    text-align: center;
}

.colorInfo div:not(:last-of-type) {
    margin-bottom: 1vh;
}

#modalFishImgContainer {
    align-items: center;
    display: flex;
    border: 3px solid black;
    padding: 1.5vh 7vw;
}

#modalStatsBlock>div>strong {
    font-size: 1.6rem;
}

#modalStatsBlock div:first-of-type {
    background-color: lightgray;
}

#modalStatsBlock b,
#modalStatsBlock p {
    display: inline;
}

#modalStatsBlock span {
    justify-content: space-between;
    display: flex;
    max-width: 27vh;
    text-align: center;
    margin: 0 auto 0 auto;
}

b,
p {
    font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {

    b,
    p {
        font-size: 0.8rem;
    }

    #modalFishName strong {
        font-size: 1.5rem;
    }

    #modalStatsBlock>div>strong {
        font-size: 1.2rem;
    }
}