:root {
    --background-color: #ADD8E6;
    --background-image: "url('../../images/backgrounds/static/seaweed.png')";
}

body {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}

strong,
b {
    font-weight: bold;
}

#fishTank {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: var(--background-color);
}

#swimZone {
    width: 100%;
    height: 75vh;
    position: absolute;
    top: 10vh;
    left: 0;
}

#bottomMenu {
    background-color: var(--background-color);
    border: 2px solid black;
}

.bottomMenuSlot {
    z-index: 988;
}

.fish-flip-wrapper {
    transition: transform 0.3s ease;
    transform-origin: center;
    display: inline-block;
}

.fish-rotate-wrapper {
    transition: transform 2s ease;
    transform-origin: center;
    display: inline-block;
}

.fish-flip-wrapper,
.fish-rotate-wrapper {
    position: relative;
    display: inline-block;
}

#bottomMenuButtonContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#openBottomMenuImg,
#closeBottomMenuImg,
#CBMI {
    width: 4%;
    height: auto;
    position: absolute;
    bottom: 0;
    z-index: 999;
}

#closeBottomMenuImg {
    display: none;
}

#bottomMenu {
    display: none;
    height: 15vh;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#bottomMenu div img {
    height: 9vh;
    width: auto;
    border: 2px solid black;
}

.clickAble {
    cursor: pointer;
}

.foodCursor {
    cursor: url('../media/fishFoodCursor.png') 10 10, auto;
}

.dustpanCursor {
    cursor: url('../media/dustpanCursor.png') 10 10, auto;
}

.dustpanGreenCursor {
    cursor: url('../media/dustpanGreenCursor.png') 10 10, auto;
}

.speedCandyCursor {
    cursor: url('../media/speedCandyCursor.png') 10 10, auto;
}

.noClickCursor {
    cursor: url('../media//noClickCursor.png') 10 10, auto;
}

.grabbable {
    cursor: grab;
}

.grabbing {
    cursor: grabbing;
}

.bubble {
    position: absolute;
    width: 20px;
    /* Adjust size */
    height: 20px;
    pointer-events: none;
    /* So clicks don't hit the bubble */
    animation: bubbleRise 2s ease-out forwards;
}

.poo {
    position: absolute;
    width: 30px;
    /* Adjust size */
    height: 30px;
    /* So clicks don't hit the bubble */
    animation: pooRise 2s ease-out forwards;
}

.food {
    position: absolute;
    width: 30px;
    /* Adjust size */
    height: 30px;
    pointer-events: none;
    /* So clicks don't hit the bubble */
    animation: foodRise 1s ease-out forwards;
    z-index: 6;
}

#rotatePhone {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#rotatePhone img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: auto;
}

#coinDisplayBlock {
    position: absolute;
    z-index: 999;
    width: 4vw;
    height: auto;
    text-align: center;
    top: 0;
    right: 2vw;
}

#coinDisplayBlock img {
    width: 4vw;
    height: auto;
}

#openShopImg,
#settingsImg {
    width: 6vw;
    height: auto;
    margin-left: 1vw;
}

#topLeftMenu {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
}

.bottomLeftRiseText {
    position: absolute;
    bottom: 2vh;
    left: 3vw;
    animation: bottomLeftTextRise 4s ease-out forwards;
}

#waterFilterContainer {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
}

#waterFilter {
    width: 8vw;
    height: auto;
}

#landMineContainer {
    position: absolute;
    left: 70vw;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: wobble 10s ease-in-out infinite;
    transform-origin: center;
    display: none;
}

#landMineChainBottom {
    width: 1.3vw;
}

.landMineChain {
    width: 1.3vw;
    height: auto;
    z-index: 0;
    margin-top: -0.5vh;
    margin-bottom: -0.5vh;
}

#navalMineChains {
    display: flex;
    flex-direction: column;
}

#navalMine {
    width: 10vw;
    height: auto;
    z-index: 0;
    margin-bottom: -0.5vh;
    cursor: pointer;
}

#landMineContainerBlock {
    position: absolute;
    bottom: 0;
}

.rotateSettings {
    animation: rotateSettings 1s ease-out forwards;
}

.rotateSettingsBack {
    animation: rotateSettingsBack 1s ease-out forwards;
}

.mirrored {
    transform: scaleX(-1);
}

.hidden {
    display: none;
}

@keyframes wobble {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(2deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

@keyframes bubbleRise {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-60px);
    }
}

@keyframes foodRise {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-60px);
    }
}

@keyframes pooRise {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes bottomLeftTextRise {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-30px);
    }
}

@keyframes rotateSettings {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@keyframes rotateSettingsBack {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(0);
    }
}

@media only screen and (max-width: 1000px) {
    #bottomMenu {
        height: 17vh;
    }
}

@media only screen and (min-width: 1000px) {
    body {
        overflow: hidden;
    }
}

#modalChangeBackgroundContainer {
    display: none;
}