body {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}

.modalContainer {
    width: 100vw;
    height: 95vh;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal {
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
    width: 85vw;
    height: 85vh;
    position: absolute;
    z-index: 999;
    overflow-y: auto;
}

.modal::-webkit-scrollbar {
    width: 1em;
}

.modal::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
}

.modal::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 10px;
    cursor: pointer;
}

.modal::-webkit-scrollbar-thumb:hover {
    background: gray;
}

.modal::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}

.modalTitle {
    text-align: center;
    border: 3px solid black;
    padding: 1.5vh 0;
    margin-bottom: 2vh;
    background-color: lightgray;
}

.modalContent {
    max-width: 80vw;
    margin: 0 auto 0 auto;
}

strong,
b {
    font-weight: bold;
}

.modalTitle strong {
    font-size: 2rem;
}

.modalGreenButtonBlock {
    margin: 3vh 0;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.modalGreenButtonBlock p {
    background-color: darkgreen;
    padding: 1vh 3vw;
    color: white;
    border: 2px solid black;
    border-radius: 25px;
}

#fishTank {
    width: 100%;
    height: 100vh;
    background-color: lightblue;
    position: relative;
}

#swimZone {
    width: 100%;
    height: 75vh;
    position: absolute;
    top: 10vh;
    left: 0;
}

.fish-flip-wrapper {
    transition: transform 0.3s ease;
    transform-origin: center;
    display: inline-block;
}

.fish-rotate-wrapper {
    transition: transform 2s ease;
    transform-origin: center;
    display: inline-block;
}

.fish-flip-wrapper,
.fish-rotate-wrapper {
    position: relative;
    display: inline-block;
}

#bottomMenuButtonContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#openBottomMenuImg,
#closeBottomMenuImg,
#CBMI {
    width: 4%;
    height: auto;
    position: absolute;
    bottom: 0;
    z-index: 999;
}

#closeBottomMenuImg {
    display: none;
}

#bottomMenu {
    display: none;
    height: 15vh;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#bottomMenu div img {
    height: 9vh;
    width: auto;
    border: 2px solid black;
}

.clickAble,
.spawned-fish {
    cursor: pointer;
}

.foodCursor {
    cursor: url('../media/fishFoodCursor.png') 10 10, auto;
}

.dustpanCursor {
    cursor: url('../media/dustpanCursor.png') 10 10, auto;
}

.dustpanGreenCursor {
    cursor: url('../media/dustpanGreenCursor.png') 10 10, auto;
}

.noClickCursor {
    cursor: url('../media//noClickCursor.png') 10 10, auto;
}

.bubble {
    position: absolute;
    width: 20px;
    /* Adjust size */
    height: 20px;
    pointer-events: none;
    /* So clicks don't hit the bubble */
    animation: bubbleRise 2s ease-out forwards;
}

.poo {
    position: absolute;
    width: 30px;
    /* Adjust size */
    height: 30px;
    /* So clicks don't hit the bubble */
    animation: pooRise 2s ease-out forwards;
}

.food {
    position: absolute;
    width: 30px;
    /* Adjust size */
    height: 30px;
    pointer-events: none;
    /* So clicks don't hit the bubble */
    animation: foodRise 1s ease-out forwards;
    z-index: 6;
}

#rotatePhone {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#rotatePhone img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: auto;
}

#coinDisplayBlock {
    position: absolute;
    z-index: 999;
    width: 4vw;
    height: auto;
    text-align: center;
    top: 0;
    right: 0;
}

#coinDisplayBlock img {
    width: 4vw;
    height: auto;
}

#openShopImg {
    position: absolute;
    z-index: 999;
    width: 6vw;
    height: auto;
    text-align: center;
    top: 0;
    left: 0;
    margin-left: 1vw;
}

@keyframes bubbleRise {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-60px);
    }
}

@keyframes foodRise {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-60px);
    }
}

@keyframes pooRise {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@media only screen and (max-width: 1000px) {
    #bottomMenu {
        height: 17vh;
    }
}