.decorationShopBlock {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    align-items: center;
    background-color: lightblue;
}

.decorationShopBlock>div:not(.subTitleContainer) {
    display: flex;
    align-items: center;
    width: 97%;
    margin: 2vh 0;
}

.decorationShopBlock:first-of-type>div:not(.subTitleContainer) {
    border: 2px solid black;
    background-color: white;
}

.decorationShopBlock>div:not(.subTitleContainer) {
    justify-content: space-between;
}

.decorationShopBlock:first-of-type>div p {
    margin: 2vh 0 2vh 7vw;
}

.decorationShopBlock:not(:first-of-type)>div p {
    text-align: center;
}

.decorationShopBlock:first-of-type .modalButtonBlock {
    margin: 0 7vw 0 0;
}

.decorationShopBlock:not(:first-of-type) {
    margin: 3vh 0;
}