.modalContainer {
    width: 100vw;
    height: 95vh;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal {
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
    width: 85vw;
    height: 85vh;
    position: absolute;
    z-index: 999;
    overflow-y: auto;
}

.modal::-webkit-scrollbar {
    width: 1em;
}

.modal::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
}

.modal::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 10px;
    cursor: pointer;
}

.modal::-webkit-scrollbar-thumb:hover {
    background: gray;
}

.modal::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}

.modalTitle {
    text-align: center;
    border: 3px solid black;
    padding: 1.5vh 0;
    margin-bottom: 2vh;
    background-color: lightgray;
    border-radius: 10px;
}

.modalContent {
    max-width: 80vw;
    margin: 0 auto 0 auto;
}

.modalTitle strong {
    font-size: 2rem;
}

.modalButtonBlock {
    margin: 3vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modalButtonBlock p {
    padding: 1vh 3vw;
    color: white;
    border: 2px solid black;
    border-radius: 25px;
}

.greenButton p {
    background-color: darkgreen;
}

.redButton p {
    background-color: darkred;
}

.subTitleContainer strong {
    font-size: 1.5rem;
}

.subTitleContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgb(238, 236, 236);
    border-radius: 10px;
}

.subTitleContainer strong {
    margin: 1vh 0;
}

.modal div {
    border-radius: 10px;
}